*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
ul, li{
  list-style: none;
}

.bold{
  font-weight: bold;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.backwhite{
  background-color: #fff;
}